<h1 id="title">2e Quick Character Creater</h1>

<div class="setup">
    <p>Min total score value: <input id="minStats" type="number" value="54"></p>
    <p>Max total score value: <input id="maxStats" type="number" value="108"></p>
    <p>Total score value: </p>
    <p id="totalStats">0</p>
</div>

<button class="button" id="reroll" onClick=getStats()>Roll!</button>
<br>

<div class="stats-container">
    <div class="Str-container">
        <div class="stat">
            <p id="stat-Str">STR: </p>
        </div>
        <p class="statVal" id="valStr">0</p>
    </div>

    <div class="Dex-container">
        <div class="stat">
            <p id="stat-Dex">DEX: </p>
        </div>
        <p class="statVal" id="valDex">0</p>
    </div>

    <div class="Con-container">
        <div class="stat">
            <p id="stat-Con">CON: </p>
        </div>
        <p class="statVal" id="valCon">0</p>
    </div>

    <div class="Int-container">
        <div class="stat">
            <p id="stat-Int">INT: </p>
        </div>
        <p class="statVal" id="valInt">0</p>
    </div>

    <div class="Wis-container">
        <div class="stat">
            <p id="stat-Wis">WIS: </p>
        </div>
        <p class="statVal" id="valWis">0</p>
    </div>
    
    <div class="Cha-container">
        <div class="stat">
            <p id="stat-Cha">CHA: </p>
        </div>
        <p class="statVal" id="valCha">0</p>
    </div>
</div>

<fieldset class="race-and-class">
    <legend>Race and Class</legend>
        <label>Races</label>
        <input id="selected-race" list="usable-races" onchange=classOptions() onclick=raceChoices()>
            <datalist id="usable-races">
            </datalist>
            
        <label>Classes</label>
        <input id="selected-class" list="usable-classes">
            <datalist id="usable-classes">
            </datalist>  
</fieldset>

<div class="EquipList">
    <p>Armor</p>
    <input class="armor" id="armorList" list="armor" onChange=setAC()>
        <datalist id="armor">
        </datalist>
        
    <p>Weapons</p>
    <input list="weapon">
        <datalist id="weapon">
        </datalist>
</div>

<div class="AC">
    <p id="armorClass">AC: </p>
    <p id="armorClassVal">10</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="Character2e.js"></script>