<h1 id="title">2e Quick Character Creator</h1>

<div class="setup">
    <p>Min total score value: <input id="minStats" type="number" value="54"></p>
    <p>Max total score value: <input id="maxStats" type="number" value="108"></p>
    <p>Total score value: </p>
    <p id="totalStats">0</p>
</div>

<button class="button" id="reroll" onClick=getStats()>Roll!</button>
<br>

<div class="stats-container">
    <div class="Str-container">
        <div class="stat">
            <p id="stat-Str">STR: </p>
        </div>
        <p class="statVal" id="valStr">0</p>
    </div>

    <div class="Dex-container">
        <div class="stat">
            <p id="stat-Dex">DEX: </p>
        </div>
        <p class="statVal" id="valDex">0</p>
    </div>

    <div class="Con-container">
        <div class="stat">
            <p id="stat-Con">CON: </p>
        </div>
        <p class="statVal" id="valCon">0</p>
    </div>

    <div class="Int-container">
        <div class="stat">
            <p id="stat-Int">INT: </p>
        </div>
        <p class="statVal" id="valInt">0</p>
    </div>

    <div class="Wis-container">
        <div class="stat">
            <p id="stat-Wis">WIS: </p>
        </div>
        <p class="statVal" id="valWis">0</p>
    </div>
    
    <div class="Cha-container">
        <div class="stat">
            <p id="stat-Cha">CHA: </p>
        </div>
        <p class="statVal" id="valCha">0</p>
    </div>
</div>

<!--['Str:HitProbability', 'Str:DamageAdjustment', 'Str:WeightAllowance', 'Str:MaximumPress', 'Str:OpenDoors', 'Str:BendBarsLiftGates']
    ['Dex:ReactionAdjustment', 'Dex:MissileAttackAdjustment', 'Dex:DefensiveAdjustment']
    ['Con:HitPointAdjustment', 'Con:SystemShock', 'Con:ResurrectionSurvival', 'Con:PoisonSave', 'Con:Regeneration', 'Con:SavingThrowBonus']
    ['Int:NumberofLanguages', 'Int:SpellLevel', 'Int:ChangetoLearnSpell', 'Int:MaximumNumberofSpellsperLevel', 'Int:IllusionImmunity']
    ['Wis:MagicalDefenseAdjustment', 'Wis:BonusSpells', 'Wis:ChanceofSpellFailure', 'Wis:SpellImmunity']
    ['Cha:MaximumNumberofHenchmen', 'Cha:LoyaltyBase', 'Cha:ReactionAdjustment'] -->

<!--<div class="ability-score-charts" id="ability-score-chart-id">
    <div id="StrChart">
        <p id="Str:HitProbability">Hit Probability:</p>
        <p id="Str:DamageAdjustment">Damage Adjustment:</p>
        <p id="Str:WeightAllowance">Weight Allowance:</p>
        <p id="Str:MaximumPress">Maximum Press:</p>
        <p id="Str:OpenDoors">Open Doors:</p>
        <p id="Str:BendBarsLiftGates">Bend Bars / Lift Gates:</p>
    </div>
    <div id="DexChart">
        <p id="">Reaction Adjustment:</p>
        <p id="">Missle Attack Adjustment:</p>
        <p id="">Defensive Adjustment:</p>
    </div>
    <div id="ConChart">
        <p id="">Hit Point Adjustment:</p>
        <p id="">System Shock:</p>
        <p id="">Resurrection Survival:</p>
        <p id="">Poison Save:</p>
        <p id="Con:Regeneration">Regeneration:</p>
        <p id="Con:SavingThrowBonus">Saving Throw Bonus:</p>
    </div>
    <div id="IntChart">
        <p id="Int:NumberofLanguages"></p>
        <p id="Int:SpellLevel"></p>
        <p id="Int:ChangetoLearnSpell"></p>
        <p id="Int:MaximumNumberofSpellsperLevel"></p>
        <p id="Int:IllusionImmunity"></p>
    </div>
    <div id="WisChart">
        <p id="Wis:MagicalDefenseAdjustment"></p>
        <p id="Wis:BonusSpells"></p>
        <p id="Wis:ChanceofSpellFailure"></p>
        <p id="Wis:SpellImmunity"></p>
    </div>
    <div id="ChaChart">
        <p id="Cha:MaximumNumberofHenchmen"></p>
        <p id="Cha:LoyaltyBase"></p>
        <p id="Cha:ReactionAdjustment"></p>
    </div>
</div> -->
<div class="ability-score-charts" id="ability-score-chart-id">
    
</div>


<fieldset class="race-and-class">
    <legend>Race and Class</legend>
        <label>Races</label>
        <input id="selected-race" list="usable-races" onchange=classOptions() onclick=raceChoices()>
            <datalist id="usable-races">
            </datalist>
            
        <label>Classes</label>
        <input id="selected-class" list="usable-classes" onchange=startingValues()>
            <datalist id="usable-classes">
            </datalist>

        <div class="starting-class">
            <div class="starting-title">
                <p id="starting-hp-text">Starting HP: </p>
            </div>
            <p class="starting-gold-hp" id="value-starting-hp">0</p>
        </div>

        <div class="starting-class">
            <div class="starting-title">
                <p id="starting-gold-text">Starting Gold: </p>
            </div>
            <p class="starting-gold-value" id="value-starting-gold">0</p>
        </div>
</fieldset>

<fieldset class="EquipList" id="EquipmentShop">
    <legend>Equipment Shop</legend>
        <label>Armor</label>
        <input class="armor" id="armor" list="armorList" onchange=buyingEquipmentPreview()>
            <datalist id="armorList">
            </datalist>
            
        <label>Weapons</label>
        <input id="weapon" list="weaponList" onchange=buyingEquipmentPreview()>
            <datalist id="weaponList">
            </datalist>

        <button class="button" id="buy" onclick=buyingEquipment()>Buy!</button>

        <div class="cost-button-display">
            <div class="starting-items-cost">
                <p id="starting-cost-text">Cost: </p>
            </div>
            <p class="starting-cost-value" id="cost">0</p>
        </div>
</fieldset>

<div class="AC" id="AC">
    <p id="armorClass">AC: </p>
    <p id="armorClassVal">10</p>
</div>

<div>
    <dl id="EquipmentList">

    </dl>
</div>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="Character2e.js"></script>