* {
    font-family: Arial, Helvetica, sans-serif;
}

/*
 #1b262c #0f4c75 #3282b8 #bbe1fa
 #393e46 #00adb5 #aad8d3 #eeeeee
 */

 :root {
     --background-color: #393e46;
     --shadow-color: #00adb5;
     --main-text-color: #aad8d3;
     --highlight-color: #eeeeee;
 }

body {
    background-color: var(--background-color);
    color: var(--main-text-color);
    font-size: 1.5em;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reroll {
    margin-left: 50%;
}

.stats-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Str-container,
.Dex-container,
.Con-container,
.Wis-container,
.Int-container,
.Cha-container {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: var(--highlight-color);
    max-width: 15%;
    min-width: 10%;
    padding: 10px;
    box-shadow: 10px 5px 5px var(--shadow-color);
}

.stat {
    padding-right: 10px;
    color: var(--main-text-color);
}

.EquipList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    opacity: 0;
    box-shadow: 10px 5px 5px var(--shadow-color);
}

.AC {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: .5em;
    align-self: center;
    opacity: 0;
}

.race-and-class {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px var(--main-text-color);
}

.starting-class {
    display: inline-flex;
    justify-content: center;
    max-width: 15%;
    min-width: 10%;
    padding: 5px;
}

.cost-button-display {
    display: inline-flex;
    justify-content: center;
    max-width: 15%;
    min-width: 10%;
    padding: 5px;
}

#starting-cost-text {
    padding-right: 10px;
}

.starting-title {
    padding-right: 10px;
}

.Equipment {
    padding: 0 0 10px 10px;
}

.ability-score-charts{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.charts {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 10%;
    padding: 10px;
    font-size: small;
}

.colorStatVal {
    color: var(--highlight-color);
}